@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Bungee+Spice&family=Faculty+Glyphic&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: "Roboto", serif;
    color: black;
}

header {
    background-color: limegreen;
    padding: 5px 20px 20px 20px;
    text-align: center;
}
h1{
    margin: 10px;
    text-shadow: 1px 1px 1px black;
}
nav {
    display: flex;
    justify-content: center;
}

#busca {
    padding: 6px 8px;
    border-radius: 8px 0 0 8px;
    box-shadow: 1px 1px 2px black;
    outline: none;    
    min-width: 280px;
    width: 480px;
}
#busca:focus, #search:focus{    
    box-shadow: 1px 1px 2px black inset;
}
#search{
    background-color: #FFF;
    padding: 3px 4px;
    border: 1px solid black;
    box-shadow: 1px 1px 2px black;
    border-radius: 0px 8px 8px 0;
}
#search:hover{
    cursor: pointer;
}



main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.image{
    width: 200px;
    border-right: 2px solid #dcdcdc;
}
.card{
    border: 1px solid black;
    margin: 10px;
    padding: 4px;
    display: flex;
    width: 400px;
    border-radius: 12px;
    background-color: rgb(10, 10, 50);
    box-shadow: 3px 3px 2px black;
}
.description{
    padding: 10px;
}
.description p{
    color: rgb(114, 154, 35);
}